.button{
	-fx-background-color: #D2d2d2;
	-fx-border-style: solid;
	-fx-border-color: #aaaaaa;
	-fx-border-width: 0.5px;
}
.button:hover{
	-fx-background-color: #E2E2E2;
}
.root{
	-fx-background-color: #484848;
}